includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - src
        - tests
    level: max

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        -
            message: '#^Call to an undefined method Pest\\Expectation<([a-zA-Z|\\\\]+)>\:\:[a-zA-Z]+\(\)\.$#'
            identifier: method.notFound
            path: tests/*
        -
            message: '#^Call to an undefined method Pest\\Expectations\\HigherOrderExpectation\<Pest\\Expectation\<null\>, null\>\:\:[a-zA-Z]+\(\)\.$#'
            identifier: method.notFound
            path: tests/Pest.php