parameters:
    paths:
        - src
        - tests
    level: max

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        -
            message: '#^Undefined variable: \$this$#'
            path: tests/*
        -
            message: '#^Call to an undefined method Pest\\Expectation<([a-zA-Z|\\\\]+)>\:\:[a-zA-Z]+\(\)\.$#'
            path: tests/*
        -
            message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
            path: tests/*
        -
            message: "#^Access to an undefined property PHPUnit\\\\Framework\\\\TestCase\\:\\:\\$#"
            path: tests/*

