parameters:
    paths:
        - src
        - tests
    level: max

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        # Pest implicitly binds $this to the current test case
        # @see https://pestphp.com/docs/underlying-test-case
        -
            message: '#^Undefined variable: \$this$#'
            paths:
                - tests/*
        -
            message: '#^Call to an undefined method Pest\\Expectation\|Pest\\Support\\Extendable\:\:[a-zA-Z]+\(\)\.$#'
            paths:
                - tests/*

